/* 由上至下解析, 第一個看到的 css rule */
p {
  color: red; /* 分數: 0,0,0,1 */
}
/* 由上至下解析, 以後面解析到的 css rule 為主 */
p {
  color: blue; /* 分數: 0,0,0,1 */
}

p.highlight {
  color: yellow; /* 分數: 0,0,1,1 */
}

.highlight {
  color: green; /* 分數: 0,0,1,0 */
}

#myText {
  color: red; /* 分數: 0,1,0,0 */
}

p#myText {
  color: orange; /* 分數: 0,1,0,1 */
}

p#myText.highlight {
  color: purple; /* 分數: 0,1,1,1 */
}

p#myText.highlight {
  color: brown !important; /* 最高優先 */
}


.highlight-div {
  color: black;  
}

/* 由上至下解析, 這是解析到的最後一個 css rule */
.highlight-div p {
  color: pink;  
}
body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  gap: 20px; /* 卡片之間的間距 */
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px black;
  width: 90%; /* 原本一個一行 */
  text-align: center;
}

/* 🖥 平板（大於 768px）時 */
@media (min-width: 768px) {
  .card-container {
    flex-direction: row;
  }
  
  .card {
    width: 150px;
  }
}

/* 🖥 桌機（大於 1024px）時 */
@media (min-width: 1024px) {
  .card-container {
    flex-direction: row;
  }
  
  .card {
    width: 300px;
  }
}